/*========================================

  about

========================================*/

.m-about{
	& {
		
	}
	&__inner{
		font-size: 0.8em;
	}
	&__open{
		color: map-get($color_theme, 2);
		text-decoration: underline;
		cursor: pointer;
	}
	&__close{
		color: map-get($color_theme, 2);
		text-decoration: underline;
		cursor: pointer;
	}
	&__content{
		// layout/_home.scss に記述
	}
}