/*========================================

  button

========================================*/

.m-button{
	@include font-size(1.6);
	padding: 0.5em 1em;
	border: 1px solid $color_text_base;
	border-radius: 3px;
	border-color: $color_text_base;
	color: $color_bg_base;
	background-color: $color_text_base;
	cursor: pointer;

	@include mq_s() {
		@include font-size(1.4);
	};
	a{
		text-decoration: none;
		color: inherit;
	}
	&:hover {
		
	}
	&:active,
	&:focus {
		
	}
	&.type-ghost{
		color: $color_text_base;
		background: transparent;
	}
	&.type-link{
		border-color: $color_link_base;
		color: $color_bg_base;
		background-color: $color_link_base;
	}
	&.type-link-ghost{
		border-color: $color_link_base;
		color: $color_link_base;
		background: transparent;
	}
}
