/*========================================

  nav

========================================*/

.m-nav{
	& {
		// layout/_home.scss に記述
	}
	&__inner {
		position: fixed;
		width: inherit;
		height: 100%;
		padding: 1em;
		overflow-x: hidden;
		overflow-y: auto;
		-webkit-overflow-scrolling: touch;
		-ms-overflow-style: none;
		
		@include mq_s() {
			position: static;
			padding-top: 3rem;
			padding-bottom: 4rem;
		};
	}
}