/*========================================

  player

========================================*/

.m-player{
	&{
		position: fixed;
		z-index: -1;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
	}
	&__frame{
		width: 100%;
		height: 100%;
		opacity: 0;
		transition: 0.5s cubic-bezier(0.77, 0, 0.175, 1);
		&[state="play"]{
			opacity: 0.1;
		}
	}
}