/*========================================

  title

========================================*/

.m-title{
	& {
		margin: 0 0 1em;
	}
	&__inner{
		padding: 1.4em 0;
	}
	&__main{
		margin: 0;
		font-size: 1.1em;
		line-height: 1.8;
	}
}