<!DOCTYPE html>
<html lang="ja">
<head>
	<title>東京大学のアルバート・アイラー 東大ジャズ講義録・歴史編 使用楽曲一覧</title>
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta charset="UTF-8">

	<meta name="Description" content="" />
	<meta name="keywords" content="">
	<meta property="og:image" content="" />
	<meta property="og:site_name" content="東京大学のアルバート・アイラー 東大ジャズ講義録・歴史編 使用楽曲一覧" />
	<meta property="og:type" content="website" />
	<meta property="og:locale" content="ja_JP" />
	<link rel="shortcut icon" href="">

	<link rel="stylesheet" type="text/css" href="./resources/css/style.css">
</head>
<body>

<div id="js-vue">
	<div class="p-home l-home">
		
		<div class="m-nav l-home__nav">
			<div class="m-nav__inner">
				<div class="m-title">
					<div class="m-title__inner">
						<h1 class="m-title__main">東京大学のアルバート・アイラー 東大ジャズ講義録・歴史編 使用楽曲一覧</h1>
					</div>
				</div>
				<div class="m-settings">
					<div class="m-settings__inner">
						<dl class="m-settings__list type-sort">
							<dt class="m-settings__item type-label">ソート</dt>
							<dd class="m-settings__item type-item" v-on:click="onClickSort" sortby="songID">ページ</dd>
							<dd class="m-settings__item type-item" v-on:click="onClickSort" sortby="year">年</dd>
							<dd class="m-settings__item type-item" v-on:click="onClickSort" sortby="title">曲名</dd>
							<dd class="m-settings__item type-item" v-on:click="onClickSort" sortby="leader">リーダー名</dd>
						</dl>
						<dl class="m-settings__list type-filter">
							<dt class="m-settings__item type-label">フィルター</dt>
							<dd class="m-settings__item type-item" v-on:click="onClickFilter" filterby="all">全て</dd>
							<dd class="m-settings__item type-item" v-on:click="onClickFilter" filterby="1">1章</dd>
							<dd class="m-settings__item type-item" v-on:click="onClickFilter" filterby="2">2章</dd>
							<dd class="m-settings__item type-item" v-on:click="onClickFilter" filterby="3">3章</dd>
							<dd class="m-settings__item type-item" v-on:click="onClickFilter" filterby="4">4章</dd>
							<dd class="m-settings__item type-item" v-on:click="onClickFilter" filterby="5">5章</dd>
							<dd class="m-settings__item type-item" v-on:click="onClickFilter" filterby="6">6章</dd>
							<dd class="m-settings__item type-item" v-on:click="onClickFilter" filterby="7">7章</dd>
							<dd class="m-settings__item type-item" v-on:click="onClickFilter" filterby="8">8章</dd>
							<dd class="m-settings__item type-item" v-on:click="onClickFilter" filterby="9">9章</dd>
							<dd class="m-settings__item type-item" v-on:click="onClickFilter" filterby="10">10章</dd>
							<dd class="m-settings__item type-item" v-on:click="onClickFilter" filterby="11">11章</dd>
						</dl>
						<dl class="m-settings__list type-search">
							<dt class="m-settings__item type-label">検索</dt>
							<dd class="m-settings__item type-item u-mr-0">
								<input class="m-settings__searchby u-mb-10" type="text" name="searchby" placeholder="Keywords..." v-model="onChangeSearch">
								<p style="color: #777;"><small>対象は曲名、アルバム名、リーダー名です。フィルターとの併用は不可です。</small></p>
							</dd>
						</dl>
						<dl class="m-settings__list type-autoplay">
							<dt class="m-settings__item type-label">連続再生</dt>
							<dd class="m-settings__item type-item" v-on:click="toggleAutoplay" isAutoplay="true">on</dd>
							<dd class="m-settings__item type-item" v-on:click="toggleAutoplay" isAutoplay="false">off</dd>
						</dl>
					</div>
				</div>
				<p class="m-about__open" v-on:click="toggleAboutContent('open')"><small>このサイトについて &raquo;</small></p>
			</div>
		</div><!-- m-nav -->
		
		<div class="m-songs l-home__songs">
			<div class="m-songs__inner">
				<div class="m-songs__list m-content">
					<div class="m-songs__item" v-for="item in items" v-bind:songID="item.songID" v-bind:state="item.state">
						<figure class="m-songs__cover">
							<img v-bind:src="'./resources/img/' + item.discogsID + '.jpg'" v-bind:alt="item.title">
						</figure>
						<div class="m-songs__meta">
							<h3 class="title u-mb-0">
								<span class="button" v-on:click="onClickPlay" v-bind:songID="item.songID" v-bind:youtubeID="item.youtubeID">再生</span>
								<span class="song">{{item.title}}</span>
								<span class="leader">{{item.leader}}</span>
							</h3>
							<p class="album">{{item.album}}, {{item.year}}</p>
							<p class="u-text-italic"><small>第{{item.chapter}}章 {{item.chapterTitle}}</small></p>
							<ul class="m-songs__links m-grid">
								<li>Links:</li>
								<li><a target="_blank" v-bind:href="item.discogsURL">Discogs</a></li>
								<li><a target="_blank" v-bind:href="'https://www.youtube.com/watch?v=' + item.youtubeID">YouTube</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div><!-- m-songs -->
		
		<div class="m-hamburger l-home__hamburger" id="js-hamburger" v-on:click="toggleHamburger">UTAA</div>
		
		<div class="m-about l-home__about" id="js-about">
			<div class="m-about__inner">
				<div class="m-about__content">
					<p class="u-text-bold">このサイトについて</p>
					<p>このサイトは、菊地 成孔, 大谷 能生著「東京大学のアルバート・アイラー―東大ジャズ講義録・歴史編」の副読サイトとなることを目指して作成しました。</p>
					<p><a href="https://nujawak.online/about/">nujawak</a> が個人の趣味で作成したもので、公式なものではありません。</p>
					<p class="u-text-bold">機能</p>
					<p>青の再生ボタンを押すと楽曲を聴くことができます。楽曲はソート、フィルターが利用可能です。連続再生をオンにすれば、表示されている楽曲を上から順に連続で再生します。</p>
					<p>ただし、連続再生は、デスクトップ環境のみの機能です。モバイル環境では動作しません。詳細は <a href="https://developers.google.com/youtube/iframe_api_reference#Mobile_considerations">YouTube のドキュメント</a>及び <a href="https://developer.apple.com/safari/resources/#documentation/AudioVideo/Conceptual/Using_HTML5_Audio_Video/AudioandVideoTagBasics/AudioandVideoTagBasics.html">Apple のドキュメント</a>をご覧ください。</p>
					<p class="u-text-bold">推奨環境</p>
					<p>パソコン向け Google Chrome をご利用ください。</p>
					<p class="u-text-bold">音源、楽曲情報</p>
					<p>音源には <a href="https://www.youtube.com/">YouTube</a> を利用しました。</p>
					<p>タイトル名／アルバム名／アーティスト名については、本の記載をもとに、 <a href="https://www.discogs.com/">Discogs</a> のマスター情報を参照しました。ただし、年については本の記載にならっています。 Discogs の情報はアルバムの発売年で、楽曲の発表年ではないためです。</p>
					<p class="u-text-bold">作成意図、目的</p>
					<p>私はこの本がとても好きで、下巻にあたるキーワード編と合わせて4度、5度は読み返しています。ただ、読み返すたびに「なぜ音がでない！音が聴きたい！」と強く感じます。当たり前なんですけどね、本なので。調べながら読み進めてもよいのですが、本文が面白すぎるので読書の手を止めたくない。楽曲が多いので調べるにも腰が重いのも正直なところ。</p>
					<p>また購入もしたいけど、年代の古い曲は収録されているアルバムが多数あって何を買えば良いのか迷うこともしばしば。</p>
					<p>数度目の読書にして聴きたい欲がピークに達し、使用楽曲をまとめてみよう！と思い立ちました。</p>
					<p>このサイトが「東京大学のアルバート・アイラー」を読み進める一助になれば幸いです。ひいては jazz を含めた沢山の音楽に触れるきっかけになれたら嬉しいです。</p>
					<p>余談ですが本の中で何度か紹介される、野田努著「ブラック・マシン・ミュージック」も同様に好きです。</p>
					<p class="u-text-bold">謝辞</p>
					<p>サイトの作成には <a href="https://vuejs.org/">Vue.js</a>, <a href="https://developers.google.com/youtube/iframe_api_reference">YouTube IFrame player API</a>, <a href="https://www.discogs.com/developers/">Discogs API</a> を利用しました。</p>
					<p class="u-text-bold">連絡先</p>
					<p>ご意見・ご要望・不具合など、ご連絡は <a class="u-text-breakall" href="mailto:nujawak.online@gmail.com">nujawak.online@gmail.com</a> までメールをお願いします。</p>
					<p class="u-text-right">2017年10月</p>
					<p class="m-about__close" v-on:click="toggleAboutContent('close')">&laquo; 閉じる</p>
				</div>
			</div>
		</div>
		
		<div class="m-player l-home__player">
			<div id="js-frame" class="m-player__frame"></div>
		</div><!-- m-player -->
		
	</div><!-- p-home -->
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.1/vue.min.js"></script>
<script src="https://www.youtube.com/iframe_api"></script>
<script src="./resources/js/script.js"></script>
</body>
</html>