/*========================================

  home

========================================*/

.l-home {
	& {
		display: flex;
		flex-direction : row;
		flex-wrap      : nowrap;
		justify-content: space-around;
		align-items    : stretch;
		align-content  : center;
	}
	&__nav {
		position: relative;
		width: 25%;
		
		@include mq_s() {
			position: fixed;
			z-index: 100;
			top: 0;
			left: -105%;
			width: 95vw;
			height: 100vh;
			background: #fff;
			overflow: visible;
			transition: {
				property       : left;
				duration       : 0.6s;
				timing-function: cubic-bezier(0.77, 0, 0.175, 1);
				delay          : 0s;
			}
			box-shadow: 0 0 10px rgba(#333, 0.5);
			
			&.type-open{
				left: 0;
			}
		};
	}
	&__aboutContent{
		position: fixed;
		z-index: 20;
		top: 0;
		left: -105%;
		width: 25vw;
		height: 100vh;
		padding: 1em 1.5em;
		text-align: justify;
		background: #fff;
		transition: {
			property       : left;
			duration       : 0.6s;
			timing-function: cubic-bezier(0.77, 0, 0.175, 1);
			delay          : 0s;
		}
		box-shadow: 0 0 10px rgba(#333, 0.5);
		overflow-x: hidden;
		overflow-y: auto;
		-webkit-overflow-scrolling: touch;
		-ms-overflow-style: none;
		
		&.type-open{
			left: 0;
		}
		
		@include mq_s() {
			width: 90vw;
			padding-bottom: 4rem;
		};
	}
	&__songs {
		width: 75%;
		
		@include mq_s() {
			width: 100%;
			margin-top: 3rem;
		};
	}
	&__player {
		position: fixed;
		z-index: -1;
		top: 0;
		left: 0;
		width: 100vw;
		height: 100vh
	}
}

